.bannerDiv {
    background-color: mediumseagreen;
    width:stretch;
    height:auto;
    padding:2pc;
}

.floatRight {
    float: right !important;
}
.bannerDisplayControl {
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    height:auto;
}

.bannerEditControl {
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

