.blockDiv {
    background-color: azure;
    height : 40px;

}

#blockDiv {
    height: auto;
    background-color: azure;
    border: 1px solid black;
}

.floatRight {
    float: right !important;
}

