@import "../../../main.css";

.appDiv {
    border: solid;
    height: auto;
    font-family: 'Lucida Sans !important';
    width: 1120px;

}

.layerButton {
    background-color: white;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border: 1px solid cadetblue;
    transition-duration: 0.4s;
}

.layerButton:hover {
    background-color: cadetblue;
    color: white;
}

.menuSection {
    background-color: cornsilk;
    width: stretch;
    height: auto;
    margin-top: 10px;
    padding-left: 10px;
    border: black solid 1px;
    height: auto;
    padding-bottom: 10px;
}

.bannerDiv {
    background-color: cadetblue;
    color:white;
    border: black solid 1px;
    width: stretch;
    height: auto;
    padding: 0pc !important;
    font-family: 'Lucida Sans !important';
}

.containersDiv {
    background-color: white;
    border: black solid 1px;
    width: stretch;
    height: auto;
    padding: 0pc !important;
    font-family: 'Lucida Sans !important';
}
 