.containerDiv {
    border: 1px, solid black;
    width: 350px;
    height: auto; 
}

.blockDiv {
    background-color: azure;
    height: 40px;

}

.innerContainerDiv {
    padding: 10px;
    display:block;
    margin-top: 30px;
}

.blockButton {
    background-color: white;
    color: cadetblue;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border: 1px solid cadetblue;
    transition-duration: 0.4s;
    float: right;
    display: block;
}

.layerButton:hover {
    background-color: cadetblue;
    color: white;
}

.isBannerContainerDiv {
    width: stretch !important;
}